absl-py
astunparse
bcrypt
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
Flask
Flask-Bcrypt
Flask-SQLAlchemy
Flask-WTF
flatbuffers
gast
google-pasta
greenlet
grpcio
h5py
idna
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opt_einsum
optree
packaging
protobuf
pycparser
Pygments
python-dotenv
requests
rich
scikit-learn
scipy
setuptools
six
SQLAlchemy
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
threadpoolctl
typing_extensions
urllib3
Werkzeug
wheel
wrapt
WTForms
gunicorn
